In [6]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

from sklearn.cluster import k_means
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

#setting to make numbers easier to display on the screen
pd.options.display.float_format = '{:20.2f}'.format

#show all columns on output
pd.set_option('display.max_column',999)

In [13]:
import pandas as pd

# Read the Excel file
df = pd.read_excel("/home/keithunt_35/Desktop/hands_on/data/online_retail_II.xlsx", sheet_name=0)

# Save as CSV
df.to_csv("dataset.csv", index=False)  # `index=False` removes row numbers

In [14]:
df = pd.read_csv('/home/keithunt_35/Desktop/hands_on/dataset.csv')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  object
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.1+ MB

In [17]:
df.describe()

                  Quantity                Price          Customer ID
count            525461.00            525461.00            417534.00
mean                 10.34                 4.69             15360.65
std                 107.42               146.13              1680.81
min               -9600.00            -53594.36             12346.00
25%                   1.00                 1.25             13983.00
50%                   3.00                 2.10             15311.00
75%                  10.00                 4.21             16799.00
max               19152.00             25111.09             18287.00